body{
  font-family: sans-serif;
}
.checkout-container{
  display: flex;
  flex-direction: column;
  margin: 40px;
  /* border: 1px solid red; */
  /* padding: 20px; */
  /* height: 100vh; */
}

.checkout-caption{
  margin-left: 20px;
}

.main-container{
  display: flex;
  height: 550px;
}

.checkout-items-container{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 50%;
  /* height: 100%; */
  border-right: 1px solid rgb(185, 182, 182);
}

.item-card{
  display: flex;
  /* border: 1px solid black; */
  height: 30%;
  width: 80%;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
}

.image-container{
  width: 30%;
  border: 1px solid black;

}
.detail-container{
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-around;
  /* border: 1px solid red; */
}

.item-top-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  width: 100%;
}

.button-container{
  display: flex;
}

.item-bottom-container{
  display: flex;
  justify-content: space-between;
}

.count{
  width: 20px;
}

.payment-container{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 50%;
  padding: 20px;
  /* height: 100%; */
  /* border: 1px solid black; */
}

.payment-form{
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 80%;
  gap: 5px;
}

.payment-caption{
  border-bottom: 1px solid rgb(185, 182, 182);
}

.pay-with-container{
  display: flex;
  flex-direction: column;
}
.pay-with-radios{
  display: flex;
  gap: 5px;
}

.pay-radio{
  accent-color: #f43f68;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card-no-container{
  display: flex;
  flex-direction: column;
}

.form-input{
  height: 30px;
}

.exp-cvv-container{
  display: flex;
  justify-content: space-between;
}

.exp{
  display: flex;
  flex-direction: column;
  width: 45%;
}
.cvv{
  display: flex;
  flex-direction: column;
  width: 45%;
}

.check{
  accent-color: #f43f68;

}
.submit-btn{
  height: 40px;
  border: none;
  background-color: #f43f68;
  color: white;
  font-weight: bold;
}
.submit-btn:hover{
  background-color: #fff;
  color: #f43f68;
  border: 1px solid #f43f68;
}

.footer-des{
  font-weight: lighter;
}